
body {
  margin: 0;
  padding: 0;    
  
  font-family: "Open Sans", Gilroy, Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;

  background-color: #ffffff;
  background-position: top center;
}

.inner-page {
  
}

@font-face {
  font-family: "Gilroy";  
  font-weight: normal;
  font-style: normal;
  src: 
  url("Gilroy-ExtraBold.woff"),
  url("Gilroy-Light.woff");
  /*Разобраться как подключить 3ий шрифт
  src: url("Gilroy-Light.woff")
  */
}

.visually-hidden {
  visibility: hidden;
} 

a {
  text-decoration: none;
  color: black;
}

.main-navigation {
  color: black; 
  
  background-color: #f7e296;  
}

.button-search {
  font: inherit;

  border: 2px solid black;
  background-color:  #f7e296;
}

.button-search:hover {
  border: 2px solid black;
  background-color:  black;

  color: white;
}

.button-search:active {
  border: 2px solid black;
  background-color:  black;

  color: #434343;
}

.lable-search {
  display: block;
}

.search {
  font: inherit;
  color: #cab97b;

  border: 0;
  background-color: #f7e296; 
}

.search:hover {
  color: #9e9060;
}

.search:focus {
  border-bottom: 2px solid black;

  color: #423c28; 
}

.search:focus + .visually-hidden { 
  visibility: visible;
}

.interface-header,
.product-catalog,
.contacts-header {
  list-style: none;
  }

.product-catalog,
.contacts-header {
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
}
  
.interface-header a,
.product-catalog a,
.contacts-header a {
  color: #000000;
}

.interface-header a:hover,
.interface-header a:focus,
.product-catalog a:hover,
.product-catalog a:focus,
.contacts-header a:hover,
.contacts-header a:focus {
  color: #635a3c;
}

.interface-header a:active,
.product-catalog a:active,
.contacts-header a:active {
  color: #ac9e69;
}

.dropdonw-product-catalog {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: capitalize;
  letter-spacing: normal;

  list-style: none;
  
  display: none;
}

.product-catalog a:hover + .dropdonw-product-catalog,
.product-catalog a:focus + .dropdonw-product-catalog {
  display: inline;
 } 

/* Красная область
.button-info {
  background-color: #f0c52e; 
}

.section-main {
  background-color: #f7e296;

  list-style: none;
}

.section-main:hover,
.section-main:focus {
background-color: #f0c52e;
}

 Разобраться как делать прозрачность изоброжениям
.section-main img:active {
color: #b89a30;
}


.slider-main-2 {
  background-color: #e5e5e5;

  list-style: none;
}

.slider-main-2 a {
  text-transform: uppercase;

  background-color: #f0c52e;
}

 Разобраться как изменять фоновое изображение кнопки
.slider-main-2 a:hover,
.slider-main-2 a:focus {

}

.slider-main-2 a:active {
  color: #f7e184;

  background-color: black;
}

.slider-item-2,
.slider-item-3 {
  display: none;
}

.slider-item-2:active,
.slider-item-3:active {
  display: inline;
}

.list-logo {
  list-style: none;
}

/*Разобраться почему не вставляется картинка через background-color
.logo-dji:hover,
.logo-dji:focus {
  background-color: url("img/logo-dji-bg.png");
}
*/

.about-us h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

/* Фотошоп не показывает размеры и отступы шрифта*/
.about-us p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.about-us li{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

}

.about-us a {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;

  background-color: #f0c52e;
}

/* Разобраться с background
.section-1-a:hover,
.section-1-a:focus {
  background-color: #f0c52e;
}
*/

.about-us a:active {
  color: #f7e184;

  background-color: black;
}

.contacts-main h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}



.contacts-main p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

/* Разобраться с background
.section-1-a:hover,
.section-1-a:focus {
  background-color: #f0c52e;
}
*/

.contacts-main a:last-child {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;

  background-color: #f0c52e;
}

.contacts-main a:last-child:active {
  color: #f7e184;

  background-color: black;
}

/*Страница каталога*/

.page-title {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  text-transform: none;
}

.breadcrambs {
  list-style: none;
}

.breadcrambs a {
  color: #b7b7b7;
  font-size: 16px;
  line-height: 24px;
}

.breadcrambs a:hover,
.breadcrambs a:focus {
  color: #8f8f8f;
}

.breadcrambs a:active {
  color: #e5e5e5;
}

.filter h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;

  background-color: #dcdcdc;
}

.filter h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  

  background-color: #eeeeee;
}

.filter form {
  background-color: #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 40px; 
}

.filter-input:disabled + label {
  color: #a6a6a6;

  opacity: 0.5;
}

.sort {
  background-color: #ebebeb;
}

.sort h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.sort ul {
  list-style: none;
}

.sort a {
  color: #bcbcbc;
  font-size: 14px;
  line-height: 18px;
}

.sort a:hover,
.sort a:focus {
  color: #666666;
}

.sort a:active {
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item a:nth-child(2) {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.catalog-item span {
  /*Здесь должен быть третий шрифт*/
  font-size: 16px;
  line-height: 24px;
  text-transform: none;

  text-align: right;
}

.pagination {
  background-color: #ebebeb;
}

.pagination a {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.pagination-list {
  list-style: none;
}
/*Страница каталога закончилась*/

.footer {
  color: white;

  background-color: #464646;
}

.interface-footer li {
  list-style: none;  
}

.interface-footer a {
  color: #bfbfbf;  
}

.interface-footer li a:hover,
.interface-footer li a:focus {
  color: #f3f3f3;
}

.interface-footer li a:active {
  color: #676767;
}

.exit {
  color: #d4c281;
}

.contacts-footer {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  
  list-style: none;
}

.contacts-footer a {
  color: #ffffff;
}

.contacts-footer a:hover,
.contacts-footer a:focus {
  color: #b5b5b5;
}

.contacts-footer li a:active {
  color: #7e7e7e;
}

/*Разобраться с изменением цвета SVG*/
/*Модальные окна и всплывающие элементы будут стилизоваться после 7го раздела*/